<mat-toolbar color="primary">
    <span>Capacitación 4.0</span>
    <div class="nav-links">
      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="/capacitacion">Capacitación</button>
      <button mat-button routerLink="/tecnologia">Tecnología</button>
      <button mat-button routerLink="/about">Acerca de Nosotros</button>
      <button mat-button routerLink="/benefits">Beneficios</button>
      <button mat-button routerLink="/contact">Contacto</button>
      <button mat-button routerLink="/iniciar-sesion">iniciar sesion</button>

    </div>
  </mat-toolbar>