<mat-card>
    <mat-card-header>
      <mat-card-title>Tecnología Innovadora</mat-card-title>
      <mat-card-subtitle>Impulsamos la capacitación con Industria 4.0</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Inteligencia Artificial</span>
          <span matListItemLine>Personaliza trayectorias de desarrollo.</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Aprendizaje Automático</span>
          <span matListItemLine>Predice necesidades de capacitación.</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Análisis en Tiempo Real</span>
          <span matListItemLine>Evalúa productividad y bienestar.</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">Explorar Más</button>
    </mat-card-actions>
  </mat-card>