footer {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  position: fixed; /* Fija el footer en la pantalla */
  bottom: 0; /* Lo coloca en la parte inferior */
  left: 0; /* Lo alinea a la izquierda */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}